.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  column-gap: 40px;
}
.slick-slider {
  position: relative;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70px;
  width: 100%;
  position: absolute;
  left: calc(50% - 35px);
  bottom: 5px;
  .slick-active button {
    background-color: $orange;
  }
}

.slick-dots li button {
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  width: 13px;
  height: 13px;
  background-color: $blue--40;
  border: none;
  border-radius: 50%;
}
