//COLORS

$white: #fff;
$white--10: #f1f1f1;
$black: #000;
$black--00: #333333;
$orange: #ff940d;
$orange--10: #ff9900;
$gray--00: #5c5c5c;
$gray--40: #828d9f;
$gray--50: #7b7b7b;
$gray--60: #4f4f4f;
$blue--00: #36467e;
$blue--10: #3d4e67;
$blue--20: #8b99ca;
$turquoise: #21c3be;
$turquoise--20: #00c3bc;

//LINE
$line--border: 1px solid #E3E4EB;

//INPUT BORDER
$input--border: #bdbdbd;
//BACKGROUND
$blue--background: #f7faff;
$gray--background: #f4f4f4;
$popup--background: #00000080;

//BOX-SHADOW
$header--boxshadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
$course--boxshadow: 0px 0px 11px rgba(148, 183, 197, 0.12);
$questions-boxshadow: 0px 0px 11px rgba(118, 118, 118, 0.17);
$dropmenu-boxshadow: 0px 4px 7px rgba(148, 183, 197, 0.25);
$popup--boxshadow: 0px 0px 29px rgba(196, 210, 230, 0.42);
