//900 - 120px
@media screen and (max-width: 1200px) {
  //RESULTS
  .results {
    &__inner {
      box-shadow: none;
    }
  }
}
// 660px - 900px
@media screen and (max-width: 1200px) {
  //TESTS
  .tests {
    &_light-blue {
      .content {
        &__wrapper {
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}
// - 660px
@media screen and (max-width: 700px) {
  //RESULTS
  .results {
    padding-bottom: 0;
    &__inner {
      padding-bottom: 0;
    }
    .level {
      &__title {
        display: none;
      }
      .bars {
        margin: 0;
      }
    }
    .award {
      .award {
        &-top {
          grid-template-areas:
            "icon text"
            "button button";
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto 1fr;
          gap: 22px 18px;
          &__left {
            .left-top {
              &__image {
                width: 100px;
                margin-left: auto;
                margin-right: 10px;
              }
            }
          }
        }
        &-right {
          &__knowledge {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &.knowledge {
              .knowledge {
                &__text {
                  display: flex;
                  flex-direction: column;
                  margin-top: 0;
                }
                &__title {
                  margin-top: 6px;
                }
                &__level {
                  margin-left: 0;
                  margin-top: 6px;
                }
              }
            }
          }
          &__start {
            margin: 0 auto;
          }
        }
      }
    }
  }
  //ANSWERS
  .answers {
    max-width: none;
    margin-top: 37px;
    &__item + .answers__item {
      margin-top: 25px;
    }
    .item {
      &__status {
        padding-top: 42px;
      }
      &::before {
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        font-size: 13.8462px;
        line-height: 16px;
        color: $gray--50;
      }
    }
  }
  //ARTICLE
  .article {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
  }
  //TESTS
  .tests {
    &_dark-blue {
      .tests {
        &__wrap {
          border-radius: 0;
        }
        &__body {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto 1fr;
          grid-template-areas:
            "title"
            "count"
            "text"
            "content"
            "answers";
        }
        &__title,
        &__text {
          text-align: center;
          padding-left: 0;
        }
        &__content {
          padding-bottom: 36px;
        }
        &__count {
          padding-top: 25px;
          padding-right: 0;
          justify-content: center;

          background-color: $blue--background;
        }
        &__answers {
          margin-top: 25px;
          margin-left: 0;
          padding-right: 30px;
          padding-left: 30px;
        }
      }
    }
    &_results {
      .tests {
        &__heading {
          border-bottom: 0;
          flex-direction: column;
          padding-bottom: 0;
        }
        &__count {
          margin-top: 32px;
        }
      }
    }
    &_levels {
      ._container {
        padding: 0;
      }
      .tests {
        &__status {
          .status {
            &__title {
              display: none;
            }
          }
        }
        &__title {
          font-size: 16px;
          line-height: 19px;
        }
        &__subtitle {
          text-align: center;
        }
        &__wrapper {
          grid-template-columns: 1fr;
        }
        &__left {
          &.left-test {
            background-color: transparent;
          }
        }
        &__right {
          .right-test {
            &__next {
              margin-top: 27px;
            }
          }
        }
      }
    }
  }
  //COMPLETED
  .completed {
    &__heading {
      justify-content: center;
      .heading-completed {
        &__wrapper {
          flex: 0 0 200px;
        }
      }
    }
    &__back {
      display: none;
    }
    &__section {
      padding-bottom: 0;
      .section-completed {
        &__list {
          overflow: auto;
          padding-bottom: 20px;
        }
        &__item {
          margin: 0 6px;
          &_current {
            padding: 3.5px 6px;
            border-radius: 18px;
            background-color: $blue--background;
            font-weight: 500;

            color: $gray--00;
          }
        }
      }
    }
    &__results {
      justify-content: center;
      .results-completed {
        &__list {
          flex-direction: column;
          align-items: center;
          &_achievement {
            padding-bottom: 26px;
          }
        }
        &__item {
          padding: 12px 0;
          & + .results-completed__item {
            border-left: none;
          }
          &_achievement {
            max-width: 140px;
          }
        }
        &__line {
          height: 1px;
          width: 45px;
          background-color: $blue--30;
        }
      }
    }
    &__buttons {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: none;
      .buttons-completed {
        &__repeat,
        &__next,
        &__autonext {
          grid-area: auto;
        }
        &__next {
          margin: 7px auto 0 auto;
          max-width: 290px;
          width: 100%;
        }
        &__repeat {
          justify-content: center;
        }
        &__autonext {
          text-align: center;
          margin-top: 11px;
        }
      }
      &.buttons-completed_premium {
        justify-content: center;
        .buttons-completed {
          &__repeat {
            display: none;
          }
          &__transparent {
            display: none;
          }
        }
        .button_premium {
          width: 290px;
        }
      }
    }
  }
  //CHAT
  .chat {
    &__body {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: none;
      padding-left: 15px;
    }
    &__left,
    &__author,
    &__messages,
    &__send {
      grid-area: auto;
    }
    &__left {
      padding: 25px 0;
      .left-chat {
        &__subtitle {
          text-align: center;
        }
      }
    }
    &__author {
      background-color: transparent;
      display: flex;
      align-items: center;
      .author-chat {
        &__avatar {
          display: block;
        }
        &__name {
          padding-left: 0;
          margin-left: 6px;
        }
      }
    }
    &__messages {
      padding: 13px 0 45px 0;
      background-color: transparent;
      .messages-chat {
        &__item {
          .admin-message {
            &__avatar {
              display: none;
            }
          }
          &.user-message {
            margin-left: 0;
          }
        }
      }
    }
  }
}
// - 450px
@media screen and (max-width: 450px) {
  ._container {
    max-width: 450px;
  }
  //RESULTS
  .results {
    &__title {
      font-size: 16px;
    }
    .level {
      &__title {
        display: none;
      }
    }
    .award {
      .award {
        &-top {
          grid-template-columns: auto 1fr;
          grid-template-rows: auto 1fr;
          grid-template-areas:
            "icon text"
            "button button";
          gap: 22px 18px;
        }
        &__body {
          font-size: 14px;
          line-height: 120%;
        }
      }
    }
  }
  //ANSWERS
  .answers {
    &__inner {
      &._container {
        padding: 0 15px;
      }
    }
    &__item {
      .item {
        &__status {
          .answer {
            &__text {
              font-size: 18px;
              line-height: 130%;
            }
          }
          &__heading {
            justify-content: space-between;
          }
          &_correct {
            padding-top: 12px;
            .item {
              &__status {
                &__heading {
                  margin-top: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
  //TESTS
  .tests {
    &__inner._container {
      padding: 0;
    }
    &_light-blue {
      .tests {
        &._container {
          padding: 0;
        }
        &__heading {
          flex-direction: column;
          gap: 18px 0;
        }
        &__title {
          font-size: 15px;
          line-height: 20px;
        }
      }
      .content {
        .variants {
          &__item {
            flex: 1 1 100%;
          }
        }
        &__source {
          width: 240px;
        }
      }
    }
    &_dark-blue {
      .tests {
        &__title {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
    &_results {
      .tests {
        &__body {
          border-radius: 0;
        }
        &__title {
          font-size: 16px;
          line-height: 19px;
        }
        &__subtitle {
          font-size: 16px;
          line-height: 19px;
        }
        &__verdict {
          font-size: 16px;
          line-height: 130%;
        }
        &__about {
          font-size: 14px;
          line-height: 120%;
        }
      }
    }
  }
  //COMPLETED
  .completed {
    &__section {
      .section-completed {
        &__item {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
    &__buttons {
      .buttons-completed {
        &__like {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    &__button_premium {
      font-size: 14px;
      line-height: 16px;
    }
  }
  //CHAT
  .chat {
    ._container {
      padding: 0;
    }
    &__body {
      margin-right: 0;
    }
    &__send {
      gap: 0 7px;
      .send-chat {
        &__textarea {
          border: $textarea-border;
          padding-top: 5px;
          border-radius: 2px;
        }
        &__button {
          width: 40px;
          height: 40px;
          &-text {
            display: none;
          }
          &-image {
            margin-left: 0;
          }
        }
      }
    }
  }
  //ROCKET-POPUP
  .rocket-popup {
    &__inner._container {
      padding: 0;
    }
    &__body {
      &_discount {
        .rocket-popup {
          &__text {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      &_social {
        .rocket-popup {
          &__title {
          }
          &__text {
            margin-top: 8px;
            font-weight: bold;
          }
        }
      }
      &_balloon {
        &_social {
          .rocket-popup {
            &__text {
              font-weight: normal;
            }
          }
        }
      }
    }
    &__close {
      top: -20px;
    }
    &__heading {
      padding: 31px 15px 0 15px;
    }
    &__title {
      font-size: 18px;
      line-height: 21px;
    }
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
    &__buttons {
      padding: 24px 15px 30px 15px;
      .button-rocket {
        &__premium,
        &__beginner {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
    &__socials {
      padding-top: 24px;
      padding-bottom: 30px;
    }
  }
}
